.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 2rem;
  background-color: #333;
  
  .headerItem {
    padding: 1rem;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
  }
}