.nav {
  width: 250px;
  background-color: #ddd;

  a {
    display: block;
    padding: 0.5rem;

    &:hover {
      background-color: #acf;
    }
    
    &[aria-current='true'] {
      background-color: #acf;
    }
  }

}
