.container {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
}

.title {
  font-size: 1.5rem;
}

.form {
  margin-top: 40px;
}

.formItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  font-weight: 700;
  font-size: 1rem;

  label {
    width: 10rem;
  }

  div {
    width: calc(100% - 10rem);


    input {
      width: 100%;
      padding: 20px 0;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  
    textarea {
      width: 100%;
      height: 200px;
      padding: 20px 0;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    .error {
      margin-top: 2px;
      color: #b91c1c;
      font-weight: 400;
      font-size: 0.875rem;
    }
  }

}

.buttonGroup {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;

  button {
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:not(:first-child) {
      color: #000;
      background-color: #ccc;
    }
  }
}