.container {
  width: 100%;
  max-width:800px;
  margin: 40px auto 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  time {
    color: #ccc;
    font-size: 0.9rem;
  }

  p {
    display: flex;
    gap: 10px;

    span {
      padding: 8px;
      color: #06c;
      font-size: 0.9rem;
      border: 1px solid #06c;
    }
  }
}

.title {
  margin-top: 10px;
}

.content {
  margin-top: 30px;
}